@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400&display=swap");

body {
  font-family: "Montserrat", serif;
  margin: 0;
  width: 100%;
}
p {
  font-family: "Roboto Slab", serif;
  color: #a0a09f;
}
.container {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 180px 0 180px;
}
.nav-logo {
  padding-top: 10px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-list > li > a {
  text-decoration: none;
  padding: 5px 15px 0 15px;
  color: #777777;
  font-weight: 500;
  font-size: 14px;
}

.hero-container {
  background: url("img/hero.png"),
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  min-height: 90vh;
  text-align: center;
}
.hero-container > h1 {
  color: #ffffff;
  font-size: 60px;
  line-height: 0.9;
  text-transform: uppercase;
  padding-top: 100px;
}
.hero-container > p {
  font-size: 20px;
  padding: 0 0 25px 0;
}
.btn-1 {
  background-color: #7cc576;
  color: #ffffff;
  padding: 18px 36px;
  border-radius: 50px;
  font-style: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
.services-container {
  padding-top: 50px 150px;
  text-align: center;
}
.services-container > h1 {
  font-size: 40px;
  line-height: 0.9;
  text-transform: uppercase;
  padding-top: 50px;
}
.hero-container > p {
  font-size: 20px;
  color: #777777;
}
.services-info-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 120px;
}
.info-box {
  padding: 20px 10px;
  max-width: 300px;
}
